<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Health Metrics</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/css/health.css">
</head>
      
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: white;">
        <a class="navbar-brand" href="main.html" alt="Home">
            <img src="../project2-react/src/logochido.png" width="100px" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="main.html">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="news_and_recommendations.html">
                  News and Recommendations
              </a>
            </li>
          </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h3 style="color: red; font-weight: bold;">Health Report:</h3>
                <hr>
                <h4 class="text-justify">
                    In order to know whether the user's data is healthy or not, we need to get all the user's
                    info. If you are so kind to fill the form below, we will be able to let you know all your
                    state info and how your health is compared to your state's health.
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <form class="well" method="POST">
                    <label>First Name:</label>
                    <input type="text" name="fname" placeholder="Pepito">
                    <br>
                    <label>Last Name:</label>
                    <input type="text" name="lname" placeholder="Perez">
                    <br>
                    <br>
                    <label>Birth Year:</label>
                    <select id="selBirthYear"></select>
                    <br>
                    <label>Sex:</label>
                    <select id="selSex"></select>
                    <br>
                    <label>Height (in cm):</label>
                    <select id="selHeight"></select>
                    <br>
                    <label>Weight (in kg):</label>
                    <select id="selWeight"></select>
                    <br>
                    <label>State:</label>
                    <select id="selState"></select>
                    <br>
                    <label>Do you smoke?:</label>
                    <select id="selSmoke"></select>
                    <br>
                    <label>Do you drink?:</label>
                    <select id="selDrink"></select>
                    <br>
                    <label>How often do you workout?:</label>
                    <select id="selWorkout"></select>
                    <br>
                    <label>How many hours do you sleep?:</label>
                    <select id="selSleep"></select>
                    <br>
                    <br>
                    <button id="add-btn" type="button" class="btn btn-default">Calculate</button>
                    <br>
                    <hr>
                    <a class="btn btn-primary btn-lg" href="nm/nutricionist_map_e.html" role="button">
                        Nutritionists near me
                    </a>
                </form>
            </div>
            <div class="col-md-4" id="BMI">
                <h5>Body Mass Index</h5>
                <img src="/templates/static/images/BMI_chart.gif" alt="BMI-Chart" width="300" height="200">
                <hr>
            </div>
            <div class="col-md-5" id="deathsChart">

            </div>
        </div>
    </div>    

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="static/js/states_v2.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/json/states.json"></script>
    
</body>